* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;

    display: flex;              
    flex-direction: column;     
    min-height: 100vh;          
}

header {
    background-color: #123458;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    padding: 1.125em; /* 18px */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

header img {
    padding-bottom: 0.125em; /* 2px */
}

header h2 {
    color: white;
    text-align: center;
    font-size: 1.125em; /* 18px */
    font-weight: 400;
}

main{
    display: flex;
    width: 100%;
    padding: 80px 6.5%; 
    gap: 5%;
    flex: 1;            
}

main #content{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

#content #text h3{
    font-size: 1.125em;
    padding-bottom: 1em;
}

#content #text p{
    font-size: 1em; 
    text-align: justify;
    padding-bottom: 2.5em;
}

#calculator{
    display: flex;
    width: 100%;
    gap: 2%;
}

#calculator #notes{
    background-color: #F1EFEC;
    border-radius: 0.5em;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 59%;
}

#notes #background-notes #reset-form{
    padding: 1.875em;
    display: flex;
    flex-direction: row;
    gap: 8%;
}

#reset-form #column-one{
    width: 47.5%;
}

#reset-form #column-two{
    width: 47.5%;
}

#reset-form #column-one h5{
    padding-bottom: 0.25em;
    font-size: 0.875em;
    font-weight: 600;
}

#reset-form #column-one input{
    width: 100%;
    background-color: #F1EFEC;
    border-color: #D8D5D1;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    height: 2em;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

#reset-form #column-two h5{
    padding-bottom: 0.25em;
    font-size: 0.875em;
    font-weight: 600;
}

#reset-form #column-two input{
    width: 100%;
    background-color: #F1EFEC;
    border-color: #D8D5D1;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    height: 2em;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

#reset-form #column-two #clear{
    background-color: #FF963A;
    border: none;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    color: white;
    font-size: 1em;
    margin-top: 1em;
    height: 2.5em;
    width: 100%;
    border-radius: 0.5em;
    font-weight: 600;
}

#reset-form #column-one #calculate{
    background-color: #FF963A;
    border: none;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    color: white;
    font-size: 1em;
    margin-top: 1em;
    height: 2.5em;
    width: 100%;
    border-radius: 0.5em;
    font-weight: 600;
}

#reset-form #column-two #clear:hover{
    background-color: #ff6356;
}

#reset-form #column-one #calculate:hover{
    background-color: #ff6356;
}

#calculator #result{
    background-color: #3fa2ff;
    border-radius: 0.5em;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator #result h4{
    font-weight: 400;
    font-size: 1em;
    color: white;
}

#calculator #result h3{
    font-size: 2.5em;
    color: white;
}

footer {
    background-color: #123458;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1.125em 0;
    width: 100%;
}


footer #suport {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
}

footer #suport h6 {
    color: white;
    font-size: 0.875em;
}

footer #suport a {
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

footer #suport a:hover {
    text-decoration: underline;
}

footer #developer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 0.25em;
}

footer #developer #developer-icons {
    display: flex;
    gap: 0.75em;
}

footer #developer h6 {
    color: white;
    font-size: 0.75em;
    font-weight: bold;
}

/* mobile */
@media (max-width: 768px) {

body{
    display: flex;              
    flex-direction: column;     
    min-height: 100vh;          
}

header img {
    width: 8.75em; /* 140px */
}

header h2 {
    font-size: 1em; /* 16px */
}

main{
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 80px 6.5%; 
    gap: 2%; 
    flex: 1;            
}

main #background-ads{
    /* ads mobile default */
    /* width: 320px;    
    height: 100px; */
    margin: 40px 2.5%;
}

main #content{
    width: 85%;  
    display: flex;
    flex-direction: column;
    padding: 0;
}

#calculator{
    display: flex;
    flex-direction: column;  
    width: 100%;
    gap: 20px;
}

#calculator #notes{
    width: 100%; 
}

#calculator #result{
    width: 100%;      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

footer #suport h6 {
    font-size: 0.625em;
}

footer #suport a {
    font-size: 0.625em;
}

footer #developer h6 {
    font-size: 0.625em;
}

}
