* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #123458;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    padding: 1.125em; /* 18px */
}

header img {
    padding-bottom: 0.125em; /* 2px */
}

header h2 {
    color: white;
    text-align: center;
    font-size: 1.125em; /* 18px */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}






footer {
    background-color: #123458;

    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1.125em 28.125em; /* 18px 450px */
}

footer #suport {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em; /* 4px */
}

footer #suport h6 {
    color: white;
    font-size: 0.875em; /* 14px */
    font-family: "Roboto", sans-serif;
}

footer #suport a {
    color: white;
    text-decoration: none;
    font-size: 0.75em; /* 12px */
    font-family: "Roboto", sans-serif;
}

footer #suport a:hover {
    text-decoration: underline;
}

footer #developer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 0.25em; /* 4px */
}

footer #developer #developer-icons {
    display: flex;
    gap: 0.75em; /* 12px */
}

footer #developer h6 {
    color: white;
    font-size: 0.75em;; /* 12px */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
